{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{% include 'style.html' %}
{{super()}}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
        $.getJSON( "/api/tokens", function( data ) {
          var items = [];
          $.each( data, function( key, val ) {
            console.log(key);
            console.log(val);
            items.push( "<a href='/tokens/" + val.id + "' class='list-group-item'>" + val.username + "</a>" );
          });
          console.log(items);
          document.getElementById("tokenlist").innerHTML = "<ul class='list-group'>" + items.join( "" ) + "</ul>";
        });
    });
    console.log('foobar');
</script>
{% endblock %}


{% block content %}
<div class="hg">
  <header class="hg__header"><img src="http://docs.ansible.com/ansible/latest/_static/images/logo_invert.png" width="40%">DASHBOARD</header>
  <main class="hg__main">
      <div class="hg__inner">
          <div id="tokenlist">
                DEFAULT DATA
          </div>
          <div>
              <form action="" method="post" name="addtoken">
                  {{ form.hidden_tag() }}
                  {{ form.username(size=10) }} {{ form.token(size=50) }}<input type="submit" value="add">
              </form>
          </div>
      </div>
  </main>
{% include 'navbar.html' %}
{% include 'footer.html' %}
</div>
{% endblock %}
