{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{% include 'style.html' %}
{{super()}}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //$(document).ready(function(){
    //    $.getJSON( "/api/repos", function( data ) {
    //      var items = [];
    //      $.each( data, function( key, val ) {
    //        console.log(key);
    //        console.log(val);
    //        items.push( "<a href='/repos/" + val.id + "' class='list-group-item'>" + val.id + " " + val.url + "</a>" );
    //      });
    //      console.log(items);
    //      document.getElementById("repolist").innerHTML = "<ul class='list-group'>" + items.join( "" ) + "</ul>";
    //    });
    //});
    //console.log('foobar');
</script>
{% endblock %}


{% block content %}
<div class="hg">
  <header class="hg__header"><img src="http://docs.ansible.com/ansible/latest/_static/images/logo_invert.png" width="40%">DASHBOARD</header>
  <main class="hg__main">
      <div class="hg__inner">

          <div class="row" style="padding: 20px">
              <h2>Summary</h2>
              id: {{ token.id }} <br>
              username: {{ token.username }} <br>
              created_at: {{ token.date_created }} <br>
              updated_at: {{ token.date_modified }} <br>
          </div>
          <div>
              <form action="" method="post" name="deltoken">
                  {{ form.hidden_tag() }}
                  <input type="hidden" name="tokenid" value="{{ token.id }}">
                  <input type="submit" value="delete">
              </form>
          </div>
      </div>
  </main>
{% include 'navbar.html' %}
{% include 'footer.html' %}
</div>
{% endblock %}
