{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{% include 'style.html' %}
{{super()}}
{% endblock %}

{% block content %}
<div class="hg">
  <header class="hg__header"><img src="http://docs.ansible.com/ansible/latest/_static/images/logo_invert.png" width="40%">DASHBOARD</header>
  <main class="hg__main">
      <div class="hg__inner">

          <!--
            {{ issue.index_data|tojson|safe }}
          -->

          TITLE<br>
          {{ issue.title }} <br>
          <hr>
          USER<br>
          {{ issue.user.login }} <br>
          <hr>
          URL<br>
          {{ issue.html_url }} <br>
          <hr>
          STATE<br>
          {{ issue.state }} <br>
          <hr>
          <!--
          BODY<br>
          {{ issue.body }} <br>
          <hr>
          -->
          {% for k,v in issue.template_sections.items() %}
            {{ k|upper }}<br>
            {{ v }}<br>
            <hr>
          {% endfor %}
          FILES<br>
          {% for file in issue.files %}
            {{ file.filename }}<br>
          {% endfor %}
          <hr>
          {% for comment in issue._comments %}
            COMMENT <br>
            {{ comment['body'] }} <br>
            <hr>
          {% endfor %}
      </div>
  </main>
{% include 'navbar.html' %}
{% include 'footer.html' %}
</div>
{% endblock %}
