{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{% include 'style.html' %}
{{super()}}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //$(document).ready(function(){
    //    document.getElementById("repolist").innerHTML = "Yes, Successfully changes" ;
    //});
    $(document).ready(function(){
        $.getJSON( "/api/repos", function( data ) {
          var items = [];
          $.each( data, function( key, val ) {
            console.log(key);
            console.log(val);
            items.push( "<a href='/repos/" + val.id + "' class='list-group-item'>" + val.id + " " + val.url + "</a>" );
          });
          console.log(items);
          document.getElementById("repolist").innerHTML = "<ul class='list-group'>" + items.join( "" ) + "</ul>";
        });
    });
    console.log('foobar');
</script>
{% endblock %}


{% block content %}
<div class="hg">
  <header class="hg__header"><img src="http://docs.ansible.com/ansible/latest/_static/images/logo_invert.png" width="40%">DASHBOARD</header>
  <main class="hg__main">
      <div class="hg__inner">
          <!--
          <div>
              <ul class="list-group">
              {% for repo in repos %}
                  <li class="list-group-item">{{ repo.id }} {{ repo }}</li>
              {% endfor %}
              </ul>
          </div>
          -->
          <div id="repolist">
                DEFAULT DATA
          </div>
          <div>
              <form action="" method="post" name="addrepo">
                  {{ form.hidden_tag() }}
                  {{ form.url(size=50) }} <input type="submit" value="add">
              </form>
          </div>
      </div>
  </main>
{% include 'navbar.html' %}
{% include 'footer.html' %}
</div>
{% endblock %}
