{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{% include 'style.html' %}
{{super()}}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //$(document).ready(function(){
    //    $.getJSON( "/api/repos", function( data ) {
    //      var items = [];
    //      $.each( data, function( key, val ) {
    //        console.log(key);
    //        console.log(val);
    //        items.push( "<a href='/repos/" + val.id + "' class='list-group-item'>" + val.id + " " + val.url + "</a>" );
    //      });
    //      console.log(items);
    //      document.getElementById("repolist").innerHTML = "<ul class='list-group'>" + items.join( "" ) + "</ul>";
    //    });
    //});
    //console.log('foobar');
</script>
{% endblock %}


{% block content %}
<div class="hg">
  <header class="hg__header"><img src="http://docs.ansible.com/ansible/latest/_static/images/logo_invert.png" width="40%">DASHBOARD</header>
  <main class="hg__main">
      <div class="hg__inner">

          {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
          {% endwith %}


          <div class="row" style="padding: 20px">
              <h2>Summary</h2>
              id: {{ repo.id }} <br>
              url: {{ repo.url }} <br>
              created_at: {{ repo.date_created }} <br>
              updated_at: {{ repo.date_modified }} <br>
              total issues+prs: {{ repo.counts['total'] }} <br>
          </div>

          <div class="row" style="padding: 20px">
              <h2>Controls</h2>
              <form method="POST" action="">
                {{ form.csrf_token }}
                {{ form.fetch }}
                {{ form.clean }}
                {{ form.delete }}
              </form>
          </div>

          <div class="row" style="padding: 20px">
              <h2>Jobs</h2>
            <div id="jobslist">
                JOBS GO HERE
            </div>
          </div>

      </div>

  </main>
{% include 'navbar.html' %}
{% include 'footer.html' %}
</div>
{% endblock %}
