  <aside class="hg__left nav">
      {% if current_user.is_authenticated %}
        <a href="/repos" class="btn btn-primary btn-block" role="button" aria-pressed="true">REPOS</a>
        <a href="/tokens" class="btn btn-primary btn-block" role="button" aria-pressed="true">TOKENS</a>
        <a href="/issues" class="btn btn-primary btn-block" role="button" aria-pressed="true">ISSUES</a>
        <a href="/search" class="btn btn-primary btn-block" role="button" aria-pressed="true">SEARCH</a>
        <a href="/userhistory" class="btn btn-primary btn-block" role="button" aria-pressed="true">USERHISTORY</a>
        <a href="/modulestats" class="btn btn-primary btn-block" role="button" aria-pressed="true">MODULESTATS</a>
        <a href="/comments" class="btn btn-primary btn-block" role="button" aria-pressed="true">COMMENTS</a>
        <a href="/etc" class="btn btn-primary btn-block" role="button" aria-pressed="true">ETC</a>
      {% else %}
        <a href="auth/signin" class="btn btn-primary btn-block" role="button" aria-pressed="true">LOGIN</a>
      {% endif %}
  </aside>