<!-- http://www.color-hex.com/color/4682b4 -->
<style>


.hg__header { grid-area: header; }
.hg__footer { grid-area: footer; }
.hg__main { grid-area: main; }
.hg__left { grid-area: navigation; }


.hg {
    display: grid;
    grid-template-areas: "header main main"
                         "navigation main main"
                         "footer main main";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px
                        1fr
                        30px;
    min-height: 100vh;
    background: #e0eeee;
}



.hg__header {
    padding: 10px;
    text-align: center;
    background: #36648b;
    color: white;
    font-weight: bold;
}

.hg__footer {
    text-align: center;
    background: #36648b;
    color: white;
}

.hg__left {
    padding: 10px;
    background: #3f75a2;
}

.hg__main {
    min-width: 800px;
    padding: 10px;
    background: #dae6f0;
}

.hg__inner {
    padding: 10px;
    height: 100%;
    background: #ffffff;
}

.nav__clicked {
    background: #4682b4;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav {
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


</style>